@charset "utf-8";
@use '../../foundation' as f;
/*-------------------------------login-----------------------------*/
.p-login {
	&Bg {
		background-image: url("/img/bg_login.jpg");
	}
	&Title {
		line-height: 1.3;
	}
}
.p-loginCircles {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	li {
		display: block;
		bottom: -150px;
		width: var(--w);
		height: var(--h);
		list-style: none;
		position: absolute;
		box-sizing: border-box;
		animation: animate 25s linear infinite;
	}
	li::before {
		content: "";
		top: 0;
		left: 0;
		width: var(--w);
		position: absolute;
		height: calc(var(--h)*0.38);
		border-left: calc(var(--w)*0.5) solid transparent;
		border-right: calc(var(--w)*0.5) solid transparent;
		border-bottom: calc(var(--h)*0.38) solid rgba(255, 255, 255, 0.2);
		box-sizing: border-box;
	}

	li::after {
		content: "";
		left: 0;
		width: var(--w);
		position: absolute;
		top: calc(var(--h)*0.38);
		height: calc(var(--h)*0.62);
		border-top: calc(var(--h)*0.62) solid rgba(255, 255, 255, 0.2);
		border-left: calc(var(--w)*0.19) solid transparent;
		border-right:  calc(var(--w)*0.19) solid transparent;
		box-sizing: border-box;
	}


	li:nth-child(1){
		left: 25%;
		--h: 80px;
		--w: calc(var(--h)*1.05);
		animation-delay: 0s;
	}
	li:nth-child(2){
		left: 10%;
		--h: 20px;
		--w: calc(var(--h)*1.05);
		animation-delay: 2s;
		animation-duration: 12s;
	}
	li:nth-child(3){
		left: 70%;
		--h: 20px;
		--w: calc(var(--h)*1.05);
		animation-delay: 4s;
	}
	li:nth-child(4){
		left: 40%;
		--h: 60px;
		--w: calc(var(--h)*1.05);
		animation-delay: 0s;
		animation-duration: 18s;
	}
	li:nth-child(5){
		left: 65%;
		--h: 20px;
		--w: calc(var(--h)*1.05);
		animation-delay: 0s;
	}
	li:nth-child(6){
		left: 75%;
		--h: 110px;
		--w: calc(var(--h)*1.05);
		animation-delay: 3s;
	}
	li:nth-child(7){
		left: 35%;
		--h: 150px;
		--w: calc(var(--h)*1.05);
		animation-delay: 7s;
	}
	li:nth-child(8){
		left: 50%;
		--h: 25px;
		--w: calc(var(--h)*1.05);
		animation-delay: 15s;
		animation-duration: 45s;
	}
	li:nth-child(9){
		left: 20%;
		--h: 15px;
		--w: calc(var(--h)*1.05);
		animation-delay: 2s;
		animation-duration: 35s;
	}
	li:nth-child(10){
		left: 85%;
		--h: 150px;
		--w: calc(var(--h)*1.05);
		animation-delay: 0s;
		animation-duration: 11s;
	}
	@keyframes animate {
		0%{
				transform: translateY(0) rotate(0deg);
				opacity: 1;
				border-radius: 0;
		}
		100%{
				transform: translateY(-1000px) rotate(720deg);
				opacity: 0;
				border-radius: 50%;
		}
	}
}
